<a href="https://colab.research.google.com/github/Sushant6862/Jeremy-Howard-Squadron-/blob/main/Pandas_Library.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Please explore the nba.csv dataset and perform EDA.Get the insights out of it.

In [ ]:

import pandas as pd

# making data frame
data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/nba.csv")

# calling head() method
data.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [ ]:
data.tail()
# By default it will take last 5 rows

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data.tail(15)
#  last 15 records

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
443,Trey Burke,Utah Jazz,3.0,PG,23.0,6-1,191.0,Michigan,2658240.0
444,Alec Burks,Utah Jazz,10.0,SG,24.0,6-6,214.0,Colorado,9463484.0
445,Dante Exum,Utah Jazz,11.0,PG,20.0,6-6,190.0,NaN,3777720.0
446,Derrick Favors,Utah Jazz,15.0,PF,24.0,6-10,265.0,Georgia Tech,12000000.0
447,Rudy Gobert,Utah Jazz,27.0,C,23.0,7-1,245.0,NaN,1175880.0
448,Gordon Hayward,Utah Jazz,20.0,SF,26.0,6-8,226.0,Butler,15409570.0
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,NaN,2050000.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data.info()
# How many entries that table content

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [ ]:
data.describe()

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07

In [ ]:
data.nunique()

Name        457
Team         30
Number       53
Position      5
Age          22
Height       18
Weight       87
College     118
Salary      309
dtype: int64

### Dealing with Rows and Columns in Pandas DataFrame:

In [ ]:
df = pd.DataFrame(data)
print(df[["Name","Team","Age","Weight"]])

              Name            Team   Age  Weight
0    Avery Bradley  Boston Celtics  25.0   180.0
1      Jae Crowder  Boston Celtics  25.0   235.0
2     John Holland  Boston Celtics  27.0   205.0
3      R.J. Hunter  Boston Celtics  22.0   185.0
4    Jonas Jerebko  Boston Celtics  29.0   231.0
..             ...             ...   ...     ...
453   Shelvin Mack       Utah Jazz  26.0   203.0
454      Raul Neto       Utah Jazz  24.0   179.0
455   Tibor Pleiss       Utah Jazz  26.0   256.0
456    Jeff Withey       Utah Jazz  26.0   231.0
457            NaN             NaN   NaN     NaN

[458 rows x 4 columns]

In [ ]:
df.corr()

<ipython-input-19-2f6f6606aa2c>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

          Number       Age    Weight    Salary
Number  1.000000  0.028724  0.206921 -0.112386
Age     0.028724  1.000000  0.087183  0.213459
Weight  0.206921  0.087183  1.000000  0.138321
Salary -0.112386  0.213459  0.138321  1.000000

In [ ]:
data.drop(["Team", "Weight"], axis = 1, inplace = True)

In [ ]:
print(data)

              Name  Number Position   Age Height            College     Salary
0    Avery Bradley     0.0       PG  25.0    6-2              Texas  7730337.0
1      Jae Crowder    99.0       SF  25.0    6-6          Marquette  6796117.0
2     John Holland    30.0       SG  27.0    6-5  Boston University        NaN
3      R.J. Hunter    28.0       SG  22.0    6-5      Georgia State  1148640.0
4    Jonas Jerebko     8.0       PF  29.0   6-10                NaN  5000000.0
..             ...     ...      ...   ...    ...                ...        ...
453   Shelvin Mack     8.0       PG  26.0    6-3             Butler  2433333.0
454      Raul Neto    25.0       PG  24.0    6-1                NaN   900000.0
455   Tibor Pleiss    21.0        C  26.0    7-3                NaN  2900000.0
456    Jeff Withey    24.0        C  26.0    7-0             Kansas   947276.0
457            NaN     NaN      NaN   NaN    NaN                NaN        NaN

[458 rows x 7 columns]

## Dealing with rows

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/nba.csv",index_col ="Name")

# retrieving row by loc method
first = data.loc["Avery Bradley"]
second = data.loc["R.J. Hunter"]


print(first, "\n\n\n", second)

Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object


 Team        Boston Celtics
Number                28.0
Position                SG
Age                   22.0
Height                 6-5
Weight               185.0
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object

In [ ]:
data.drop(["Avery Bradley", "John Holland", "R.J. Hunter",
							"R.J. Hunter"], inplace = True)

In [ ]:
data

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
...,...,...,...,...,...,...,...,...
Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.iloc[200:250]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
200,George Hill,Indiana Pacers,3.0,PG,30.0,6-3,188.0,IUPUI,8000000.0
201,Jordan Hill,Indiana Pacers,27.0,C,28.0,6-10,235.0,Arizona,4000000.0
202,Solomon Hill,Indiana Pacers,44.0,SF,25.0,6-7,225.0,Arizona,1358880.0
203,Ty Lawson,Indiana Pacers,10.0,PG,28.0,5-11,195.0,North Carolina,211744.0
204,Ian Mahinmi,Indiana Pacers,28.0,C,29.0,6-11,250.0,NaN,4000000.0
205,C.J. Miles,Indiana Pacers,0.0,SF,29.0,6-6,231.0,NaN,4394225.0
206,Glenn Robinson III,Indiana Pacers,40.0,SG,22.0,6-7,222.0,Michigan,1100000.0
207,Rodney Stuckey,Indiana Pacers,2.0,PG,30.0,6-5,205.0,Eastern Washington,7000000.0
208,Myles Turner,Indiana Pacers,33.0,PF,20.0,6-11,243.0,Texas,2357760.0
209,Shayne Whittington,Indiana Pacers,42.0,PF,25.0,6-11,250.0,Western Michigan,845059.0
210,Joe Young,Indiana Pacers,1.0,PG,23.0,6-2,180.0,Oregon,1007026.0
211,Giannis Antetokounmpo,Milwaukee Bucks,34.0,SF,21.0,6-11,222.0,NaN,1953960.0
212,Jerryd Bayless,Milwaukee Bucks,19.0,PG,27.0,6-3,200.0,Arizona,3000000.0
213,Michael Carter-Williams,Milwaukee Bucks,5.0,PG,24.0,6-6,190.0,Syracuse,2399040.0
214,Jared Cunningham,Milwaukee Bucks,9.0,SG,25.0,6-4,195.0,Oregon State,947276.0
215,Tyler Ennis,Milwaukee Bucks,11.0,PG,21.0,6-3,194.0,Syracuse,1662360.0
216,John Henson,Milwaukee Bucks,31.0,PF,25.0,6-11,229.0,North Carolina,2943221.0
217,Damien Inglis,Milwaukee Bucks,17.0,SF,21.0,6-8,246.0,NaN,855000.0
218,O.J. Mayo,Milwaukee Bucks,3.0,SG,28.0,6-5,210.0,USC,8000000.0
219,Khris Middleton,Milwaukee Bucks,22.0,SG,24.0,6-8,234.0,Texas A&M,14700000.0
220,Greg Monroe,Milwaukee Bucks,15.0,C,26.0,6-11,265.0,Georgetown,16407500.0
221,Steve Novak,Milwaukee Bucks,6.0,SF,32.0,6-10,225.0,Marquette,295327.0
222,Johnny O'Bryant III,Milwaukee Bucks,77.0,PF,23.0,6-9,257.0,LSU,845059.0
223,Jabari Parker,Milwaukee Bucks,12.0,PF,21.0,6-8,250.0,Duke,5152440.0
224,Miles Plumlee,Milwaukee Bucks,18.0,C,27.0,6-11,249.0,Duke,2109294.0
225,Greivis Vasquez,Milwaukee Bucks,21.0,PG,29.0,6-6,217.0,Maryland,6600000.0
226,Rashad Vaughn,Milwaukee Bucks,20.0,SG,19.0,6-6,202.0,UNLV,1733040.0
227,Justin Anderson,Dallas Mavericks,1.0,SG,22.0,6-6,228.0,Virginia,1449000.0
228,J.J. Barea,Dallas Mavericks,5.0,PG,31.0,6-0,185.0,Northeastern,4290000.0
229,Jeremy Evans,Dallas Mavericks,21.0,SF,28.0,6-9,200.0,Western Kentucky,1100602.0
230,Raymond Felton,Dallas Mavericks,2.0,PG,31.0,6-1,205.0,North Carolina,3950313.0
231,Devin Harris,Dallas Mavericks,34.0,PG,33.0,6-3,185.0,Wisconsin,4053446.0
232,David Lee,Dallas Mavericks,42.0,PF,33.0,6-9,245.0,Florida,2085671.0
233,Wesley Matthews,Dallas Mavericks,23.0,SG,29.0,6-5,220.0,Marquette,16407500.0
234,JaVale McGee,Dallas Mavericks,11.0,C,28.0,7-0,270.0,Nevada,1270964.0
235,Salah Mejri,Dallas Mavericks,50.0,C,29.0,7-2,245.0,NaN,525093.0
236,Dirk Nowitzki,Dallas Mavericks,41.0,PF,37.0,7-0,245.0,NaN,8333334.0
237,Zaza Pachulia,Dallas Mavericks,27.0,C,32.0,6-11,275.0,NaN,5200000.0
238,Chandler Parsons,Dallas Mavericks,25.0,SF,27.0,6-10,230.0,Florida,15361500.0
239,Dwight Powell,Dallas Mavericks,7.0,PF,24.0,6-11,240.0,Stanford,845059.0
240,Charlie Villanueva,Dallas Mavericks,3.0,PF,31.0,6-11,232.0,Connecticut,947276.0
241,Deron Williams,Dallas Mavericks,8.0,PG,31.0,6-3,200.0,Illinois,5378974.0
242,Trevor Ariza,Houston Rockets,1.0,SF,30.0,6-8,215.0,UCLA,8193030.0
243,Michael Beasley,Houston Rockets,8.0,SF,27.0,6-10,235.0,Kansas State,306527.0
244,Patrick Beverley,Houston Rockets,2.0,PG,27.0,6-1,185.0,Arkansas,6486486.0
245,Corey Brewer,Houston Rockets,33.0,SG,30.0,6-9,186.0,Florida,8229375.0
246,Clint Capela,Houston Rockets,15.0,PF,22.0,6-10,240.0,NaN,1242720.0
247,Sam Dekker,Houston Rockets,7.0,SF,22.0,6-9,230.0,Wisconsin,1646400.0
248,Andrew Goudelock,Houston Rockets,0.0,PG,27.0,6-3,200.0,Charleston,200600.0
249,James Harden,Houston Rockets,13.0,SG,26.0,6-5,220.0,Arizona State,15756438.0

In [ ]:
df.iloc[:]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df[df['Position']=='SF']

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
32,Thanasis Antetokounmpo,New York Knicks,43.0,SF,23.0,6-7,205.0,NaN,30888.0
33,Carmelo Anthony,New York Knicks,7.0,SF,32.0,6-8,240.0,Syracuse,22875000.0
35,Cleanthony Early,New York Knicks,11.0,SF,25.0,6-8,210.0,Wichita State,845059.0
42,Lance Thomas,New York Knicks,42.0,SF,28.0,6-8,235.0,Duke,1636842.0
...,...,...,...,...,...,...,...,...,...
428,Al-Farouq Aminu,Portland Trail Blazers,8.0,SF,25.0,6-9,215.0,Wake Forest,8042895.0
432,Maurice Harkless,Portland Trail Blazers,4.0,SF,23.0,6-9,215.0,St. John's,2894059.0
448,Gordon Hayward,Utah Jazz,20.0,SF,26.0,6-8,226.0,Butler,15409570.0
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,NaN,2050000.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0

In [ ]:
df[df['Position']=='SF'].count()

Name        85
Team        85
Number      85
Position    85
Age         85
Height      85
Weight      85
College     71
Salary      84
dtype: int64

## ILOC & LOC

In [6]:
import pandas as pd

In [8]:
data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/nba.csv")
data.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [19]:
first_value=data.iloc[1]
first_value

Name           Jae Crowder
Team        Boston Celtics
Number                99.0
Position                SF
Age                   25.0
Height                 6-6
Weight               235.0
College          Marquette
Salary           6796117.0
Name: 1, dtype: object

In [18]:
data.loc[1]

Name           Jae Crowder
Team        Boston Celtics
Number                99.0
Position                SF
Age                   25.0
Height                 6-6
Weight               235.0
College          Marquette
Salary           6796117.0
Name: 1, dtype: object

In [15]:
data.iloc[0:4]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0

In [25]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/nba.csv", index_col ="Name")
rows = df.loc[["John Holland", "Jonas Jerebko"]]
print(rows)

                         Team  Number Position   Age Height  Weight  \
Name
John Holland   Boston Celtics    30.0       SG  27.0    6-5   205.0
Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

                         College     Salary
Name
John Holland   Boston University        NaN
Jonas Jerebko                NaN  5000000.0

In [27]:
row1=data.iloc[[5,6,7,8]]

In [28]:
row1

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0

In [32]:
row2=data.loc[4:8]

In [31]:
row2

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [36]:
first=df.loc[["John Holland", "Jonas Jerebko"],["Number","Age","Height","Salary"]]
print(first)
# select 2 rows and 4 column

               Number   Age Height     Salary
Name
John Holland     30.0  27.0    6-5        NaN
Jonas Jerebko     8.0  29.0   6-10  5000000.0
               Number   Age Height     Salary
Name
John Holland     30.0  27.0    6-5        NaN
Jonas Jerebko     8.0  29.0   6-10  5000000.0

In [38]:
# select all rows and few columns
second=df.loc[:,["Number","Age","Height","Salary"]]
print(second)

               Number   Age Height     Salary
Name
Avery Bradley     0.0  25.0    6-2  7730337.0
Jae Crowder      99.0  25.0    6-6  6796117.0
John Holland     30.0  27.0    6-5        NaN
R.J. Hunter      28.0  22.0    6-5  1148640.0
Jonas Jerebko     8.0  29.0   6-10  5000000.0
...               ...   ...    ...        ...
Shelvin Mack      8.0  26.0    6-3  2433333.0
Raul Neto        25.0  24.0    6-1   900000.0
Tibor Pleiss     21.0  26.0    7-3  2900000.0
Jeff Withey      24.0  26.0    7-0   947276.0
NaN               NaN   NaN    NaN        NaN

[458 rows x 4 columns]

In [39]:
data.iloc[:5,1:4]
# when we know exact rows and column that time we will use this function

             Team  Number Position
0  Boston Celtics     0.0       PG
1  Boston Celtics    99.0       SF
2  Boston Celtics    30.0       SG
3  Boston Celtics    28.0       SG
4  Boston Celtics     8.0       PF

In [40]:
# select all rows
# and second to fourth column
data[data.columns[1:4]]

               Team  Number Position
0    Boston Celtics     0.0       PG
1    Boston Celtics    99.0       SF
2    Boston Celtics    30.0       SG
3    Boston Celtics    28.0       SG
4    Boston Celtics     8.0       PF
..              ...     ...      ...
453       Utah Jazz     8.0       PG
454       Utah Jazz    25.0       PG
455       Utah Jazz    21.0        C
456       Utah Jazz    24.0        C
457             NaN     NaN      NaN

[458 rows x 3 columns]

## Manupulating Data

In [42]:
import pandas as pd
data={'Name':["Sushant","Monika","Vijay","Vishal"],'Qualification':['B.E','BSC','Btech','Mtech'],'Salary':[20000,40000,15000,50000]}
df=pd.DataFrame(data)
print(df)

      Name Qualification  Salary
0  Sushant           B.E   20000
1   Monika           BSC   40000
2    Vijay         Btech   15000
3   Vishal         Mtech   50000

In [43]:
# Add new column
cities=['Pune','Aurangabad','Beed','Mumbai']
df['Addess']=cities
print(df)

      Name Qualification  Salary      Addess
0  Sushant           B.E   20000        Pune
1   Monika           BSC   40000  Aurangabad
2    Vijay         Btech   15000        Beed
3   Vishal         Mtech   50000      Mumbai

## Drop Rows/Column

In [48]:
import pandas as pd

In [55]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/nba.csv", index_col ="Name")
# drop column
df.drop(["Team", "Weight"],axis=1, inplace = True)
df

               Number Position   Age Height            College     Salary
Name
Avery Bradley     0.0       PG  25.0    6-2              Texas  7730337.0
Jae Crowder      99.0       SF  25.0    6-6          Marquette  6796117.0
John Holland     30.0       SG  27.0    6-5  Boston University        NaN
R.J. Hunter      28.0       SG  22.0    6-5      Georgia State  1148640.0
Jonas Jerebko     8.0       PF  29.0   6-10                NaN  5000000.0
...               ...      ...   ...    ...                ...        ...
Shelvin Mack      8.0       PG  26.0    6-3             Butler  2433333.0
Raul Neto        25.0       PG  24.0    6-1                NaN   900000.0
Tibor Pleiss     21.0        C  26.0    7-3                NaN  2900000.0
Jeff Withey      24.0        C  26.0    7-0             Kansas   947276.0
NaN               NaN      NaN   NaN    NaN                NaN        NaN

[458 rows x 6 columns]

In [56]:
# drop rows
df.drop(["Avery Bradley", "John Holland", "R.J. Hunter"],axis=0, inplace = True)
df

               Number Position   Age Height    College      Salary
Name
Jae Crowder      99.0       SF  25.0    6-6  Marquette   6796117.0
Jonas Jerebko     8.0       PF  29.0   6-10        NaN   5000000.0
Amir Johnson     90.0       PF  29.0    6-9        NaN  12000000.0
Jordan Mickey    55.0       PF  21.0    6-8        LSU   1170960.0
Kelly Olynyk     41.0        C  25.0    7-0    Gonzaga   2165160.0
...               ...      ...   ...    ...        ...         ...
Shelvin Mack      8.0       PG  26.0    6-3     Butler   2433333.0
Raul Neto        25.0       PG  24.0    6-1        NaN    900000.0
Tibor Pleiss     21.0        C  26.0    7-3        NaN   2900000.0
Jeff Withey      24.0        C  26.0    7-0     Kansas    947276.0
NaN               NaN      NaN   NaN    NaN        NaN         NaN

[455 rows x 6 columns]